<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>

<div class="header">
  <h1>Invoice Helpmates</h1>
</div>

<ul>
  <li><a href="http://127.0.0.1:5000">Home</a></li>
  <li><a href="https://github.com/darshilkapadia">Contact</a></li>
  <li><a href="https://www.linkedin.com/in/kapadiadarshil/">About</a></li>
</ul>
<br>
<p>
    This web app is useful to split a bill between two flatmates
</p>
<form action = '/billform' >
    <button type="submit">Utility Helper</button>
</form>
<br>
<p>
    This web app is useful to calculate tip and amount in restaurant
</p>
<form action = '/tipform' >
    <button type="submit">Restaurant Helper</button>
</form>


<div class="footer">
  <h4>Darshil Kapadia</h4>
    <p>Engineering Programming: Python</p>
    <br>
    <p>2022F AAI 551-W1</p>
    <br>
    <p>Stevens Institute Of Technology</p>
</div>


</body>
</html>