<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>

<div class="header">
  <h1>Tip Helpmates</h1>
  <p>Tip Helper -- to complete </p>
    <p>Fill in the form and click the submit button to get the results</p>
</div>

<form action="/tipresults" method="post">
    {{tipform.amount.label}} {{tipform.amount}}
    <br>
    {{tipform.r_name.label}} {{tipform.r_name}}
    <p>Enter Tip and Number of Person</p>
    {{tipform.tip_percent.label}} {{tipform.tip_percent}}
    <br>
    {{tipform.person_count.label}} {{tipform.person_count}}
    <br>
    {{tipform.button1}}
</form>

<div class="footer">
  <h2>Tip Footer</h2>
</div>

</body>
</html>