<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tip Form</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>

<div class="header">
  <h1>Tip Helpmates</h1>
    <p>Fill in the form and click the Calculate button to get the results</p>
</div>

<ul>
  <li><a href="http://127.0.0.1:5000">Home</a></li>
  <li><a href="https://github.com/darshilkapadia">Contact</a></li>
  <li><a href="https://www.linkedin.com/in/kapadiadarshil/">About</a></li>
</ul>
<br>

<form action="/tipresults" method="post">
    {{tipform.amount.label}} {{tipform.amount}}
    <br>
    {{tipform.r_name.label}} {{tipform.r_name}}
    <p>Enter Tip and Number of Person</p>
    {{tipform.tip_percent.label}} {{tipform.tip_percent}}
    <br>
    {{tipform.person_count.label}} {{tipform.person_count}}
    <br>
    {{tipform.button1}}
</form>


<div class="footer">
  <h4>Darshil Kapadia</h4>
    <p>Engineering Programming: Python</p>
    <br>
    <p>2022F AAI 551-W1</p>
    <br>
    <p>Stevens Institute Of Technology</p>
</div>

</body>
</html>