<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
  <h1>Tip Helpmates</h1>

</div>

<ul>
  <li><a href="http://127.0.0.1:5000">Home</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="https://www.linkedin.com/in/kapadiadarshil/">About</a></li>
</ul>

    {{name1}} each person pays {{amount1}}

<div class="footer">
  <h4>Darshil Kapadia</h4>
</div>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
  <h1>Tip Helpmates</h1>

</div>

<ul>
  <li><a href="http://127.0.0.1:5000">Home</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="https://www.linkedin.com/in/kapadiadarshil/">About</a></li>
</ul>

    {{name1}} each person pays {{amount1}}

<div class="footer">
  <h4>Darshil Kapadia</h4>
</div>

</body>
</html>